.layout {
  background-color: var(--theme-bg);
  max-width: 1240px;
  max-height: 900px;
  height: 90vh;
  display: flex;
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgb(0 0 0 / 30%);
  position: relative;
  opacity: 0.8;

  .ant-layout-content {
    background-color: var(--theme-bg);
    padding: 20px;
    padding-bottom: 0;
    overflow-y: auto;
  }
}
